{% extends "base.twig" %}

{% block content %}
  <div class="o-page">
    <div class="o-page__header">
      {% include 'modules/header/headerBlogPost.twig' %}
    </div>
    <div class="o-page__body">
      <div class="grid-container">
        <div class="grid-x align-center">
          <div class="cell small-7">
            <a href="{{site.url}}/blog">
              <i class='fa fa-1x fa-chevron-left'></i>
              <span>Retour</span>
            </a>
          </div>
          <div class="cell small-7">
            <article class="p-sectionBlogPost">
              <h2 class="p-sectionBlogPost__title u-noMarginTop u-textCentered u-fontSize32">{{post.title}}</h2>
              <div class="p-sectionBlogPost__category">
                <div class="p-sectionBlogPost__category__ctt"
                     style="background-color: {{post.category.get_field('color')}}"
                >
                  <a href="{{site.url}}/blog/{{post.category.slug}}" class="u-linkOnDiv"></a>
                  {{post.category}}
                </div>
              </div>
              <div class="p-sectionBlogPost__content">{{post.content}}</div>
            </article>
            <div class="p-separator"></div>
            <section>
              <h2>&Agrave; voir également </h2>
              <div class="grid-x grid-margin-x grid-margin-y">
                {% for item in blogpost_suggestions %}
                  <div class="cell small-4">
                    {% include 'modules/cards/cardBlogPost.twig' %}
                  </div>
                {% endfor %}
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="u-bkgRed">
        {% include 'modules/section/sectionNewsletter.twig' %}
      </div>
      <div class="grid-x align-center">
        <div class="cell small-4">
          {% include 'modules/section/sectionWhoAmI.twig' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
