<head>
  <meta charset="utf-8">

  {# force Internet Explorer to use the latest rendering engine available #}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>
    {% if wp_title %}
      {{ wp_title }} - {{ site.name }}
    {% else %}
      {{ site.name }}
    {% endif %}
  </title>

  {# ldFriendly" content="True"> #}
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="apple-touch-icon" href="">
  <link rel="icon" href="{{ favicon }}">
  <!--[if IE]>
  <link rel="shortcut icon" href="">
  <![endif]-->
  <meta name="msapplication-TileColor" content="#00695C">
  <meta name="theme-color" content="#00695C">
  <meta name="description" content="{{ site.description }}">

  <link rel="pingback" href="{{ site.pingback_url }}"/>
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  {{ function('wp_head') }}
</head>
